html {
  background-color: gray;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

main {
  background-color: white;
  margin: 50px auto 50px auto;
  max-width: 900px;
  padding: 50px;
}


li {
  margin-bottom: 10px;
}

.Title {
  font-size: 1.5rem;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
}

.SubTitle {
  font-size: 1.25rem;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.Field {
  background-color: yellow;
}

.first {
  margin-top: 10px;
}

.Definition {
  background-color: #80008040;
}

.Section {
  margin-bottom: 25px;
}

.Section_title {
  border-bottom: solid gray 1px;
  color: tomato;
  font-size: 1rem;
  margin-left: -25px;
  text-transform: uppercase;
}

.Subsection_title {
  color: cornflowerblue;
}

.LevelOne_title {
  display: inline;
  font-size: 1rem;
  margin-right: 5px;
  text-transform: uppercase;

  &:after {
    content: ".";
  }
}

.LevelOne_body {
  display: inline;
  margin-bottom: 10px;
}

.LevelTwoContainer {
  list-style-type: lower-alpha;
  margin-top: 10px;
}

.LevelTwo {
}

.LevelThreeContainer {
  list-style-type: lower-roman;
}

.LevelThree {
}

.Legislation {
  font-weight: 700;
  text-decoration: none;
}

.Explanation {
  background-color: #f2f2f2;
  border-left: solid blue;
  color: navy;
  font-size: 1.05rem;
  font-style: normal;
  font-weight: 500;
  margin: 20px;
  padding: 10px 20px;
}

.Explanation_title {
  font-weight: 900;
}
